*.pdf
*.o
*.png
!excitation_functions/*
!Moller_1995_deformations_and_masses.pdf
!hivap_manual.pdf
MyHivap/results/*
MyHivap/results_sierk/*
MyHivap/data_hivap/*
MyHivap/hivapein/*
MyHivap/hivaperg/*
!MyHivap/results/.placeholder
!MyHivap/results_sierk/.placeholder
!MyHivap/data_hivap/.placeholder
!MyHivap/hivapein/.placeholder
!MyHivap/hivaperg/.placeholder
